

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}


@keyframes pulse {
    20% {
    transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
    transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
    transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
    }

    80% {
    transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

}

.main {
    border: 2px black solid;
}

#bobs-burgers {
    border: 2px blue solid;
}