* {
    box-sizing: border-box;
}

main, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


@keyframes pulse {
    20% {
    transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
    transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
    transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
    }

    80% {
    transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

}

.main {
    border: 2px black solid;
}

.bobs-burgers {
    border: 2px #f0262a dotted;
}

.bobs-besties {
    border: 2px #95d244 solid;
    width: 50%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    /* text-align: center; */
}

.bobs-besties p {
    margin: 5px;
}

#christmas-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.xmas-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    text-shadow: 2px 1.5px 6px black;
    /* background-color: honeydew; */
}

.xmas-items.style {
    width: 150px;
}

#pet-list {
    display: flex;
    flex-direction: column;
}

.my-pets {
    border: 1px red solid;
    padding: 10px;
    margin: 10px;
}

.names {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:inherit;
    width: 100%;
    margin: 5px;
    /* border: 1px purple dotted; */
}

.type {
    margin: 0;
    padding: 5px;
}

.ranking {
    /* border: 1px black solid; */
    margin: 0;
    padding: 5px 20px 0 20px;
    color: white;
}

.tv-show {
    border: cadetblue 2px solid;
    margin: 5px;
}

.quotes {
    border: yellow 2px dotted;
}